*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body
{
	background-color: #f15825;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 50px;
}

#container{
	width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    justify-content: center; /* align items in Main Axis */
    align-items: center; /* align items in Cross Axis */
/*    align-content: stretch;  Extra space in Cross Axis 
*/	
	background-color: #f15825;
	/*justify-content: center;
    align-items: center;*/
}

#landing {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#video {
	flex: 1;
	background-color: transparent;
}